.body {
    background: #f4f2f3;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    background: #64766a;
    grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd sd sd sd sd sd sd sd"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
}

.header {
    grid-area: hd;
    background: #f4f2f3;
}

.navBar {
    grid-area: sd;
    background: #f4f2f3;
}

.content {
    grid-area: main;
}

.footer {
    grid-area: ft;
    background: #25433c;
}
