.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        'header header header'
        'header header header'
        'header header header'
        'header header header'
        'navBar navBar navBar'
        'left-sidebar main-content right-sidebar'
        'footer footer footer';
}

.header {
    grid-area: header;
    background: url("images/Screenshot 2023-10-09 at 14.25.09.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar {
    grid-area: navBar;
    border-bottom: 3px solid #50584C;
    text-align: center;
}

.content {
    grid-area: main-content;
    text-align: center;
    background-color: #898A84;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.footer {
    grid-area: footer;
    background: #25433c;
    color: white;
    text-align: center;
}
