

.blog-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-areas:
     "ls cardList cardList rs"
}

.scroll {
    grid-area: scroll;
}

