.card-list {
    grid-area: cardList;
    list-style-type: none;
}

.card {
    grid-area: cardList;
    border-radius: 3px;
    background: var(--lightGreen);
    color: white;
    padding: 20px;
    height: auto;
    margin: 10px;
}

.blog-card {
    height: 150px;
}

.blog-card.not-active {
    grid-area: cardList;
    height: 40px;
}

.card.sign-in-card {
    width: fit-content;
    background: var(--darkGreen);
}


