.form-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-areas:
     "ls form rs"
}

.form {
    grid-area: form;
}

textarea {
    width: 333px;
}
