/*importing all the stylesheets*/
@import url("topnav.css");
@import url("blog-style.css");
@import url("cards.css");
@import url("typography.css");
@import url("form.css");

body {
    margin: 0px;
}

:root {
    --lightGreen: #b0bdb0;
    --green: #50584C;
    --darkGreen: #25433c;
    --blackGreen: #192020;
    --orange: #BD5A24;
}

.container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas:
        'header header header header header header'
        'navBar navBar navBar navBar navBar navBar'
        'leftsb main main main main rightsb'
        'footer footer footer footer footer footer';
}

.header {
    grid-area: header;
    background: url("../assets/oxygen-nature-header.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
}

.navBar {
    grid-area: navBar;
    border-bottom: 3px solid var(--green);
    height: max-content;
}

.content {
    grid-area: main;
    text-align: center;
}

.left-sidebar {
    grid-area: leftsb;
}

.right-sidebar {
    grid-area: rightsb;
}

.footer {
    grid-area: footer;
    background: var(--darkGreen);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

@media (max-width:600px) {
    .container {
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'navBar navBar navBar navBar navBar navBar'
      'leftsb leftsb leftsb leftsb leftsb leftsb'
      'main main main main main main'
      'rightsb rightsb rightsb rightsb rightsb rightsb'
      'footer footer footer footer footer footer';
    }

    ul.topnav li {float: none;}
}
