
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

ul.topnav li {
    float: none;
    display: inline-block;
}

ul.topnav li a {
    display: inline-block;
    color: var(--orange);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
background-color: var(--darkGreen);
    color: white;
}

ul.topnav li a.active {
    color: var(--blackGreen);
}

ul.topnav li.right {
    float: right;
}
