

.blog-grid{
    display: grid;
    grid-template-columns:  repeat(3, 350px, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas:
    "ls cardList scroll"
}

.card-list {
    grid-area: cardList;
    list-style-type: none;
}

.card {
    border-radius: 25px;
    background: #898A84;
    padding: 20px;
    height: 150px;
    margin: 10px;

}

.scroll {
    grid-area: scroll;
}

